.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px;
    text-align: center;
}

.tarjeta img {
    width: 200px;
    height: 200px;
}

.compra {
    background-color: #1bcb7f;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
    width: fit-content;
}

.compra:hover {
    opacity: 0.7;
}

