.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.imgCarrito {
    width: 30px;
    height: 30px;
    margin: auto;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.seeTexto {
    font-size: 15px;
    color: #fff;
}
