.cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.imgCarrito {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.seeTexto {
    font-size: 15px;
    color: #fff;
    background-color: orange;
    width: 18px;
    height: 19px;
    border-radius: 16px;
    margin-bottom: 25px;
    text-align: center;
}
