.counter {
    width: fit-content;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.boton {
    background-color: #1bcb7f;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    padding: 0.5rem;
}

.resta {
    margin-right: 10px;
    background-color: #1bcb7f;
    border: none;
    border-radius: 30%;
}

.suma {
    margin-left: 10px;
    background-color: #1bcb7f;
    border: none;
    border-radius: 30%;
}

